<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.BreedMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Breed" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="petBreedName" property="petbreedname" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from breed
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Breed" useGeneratedKeys="true" keyProperty="id" >
    insert into breed (petBreedName, category_id
      )
    values (#{petbreedname,jdbcType=VARCHAR}, #{categoryId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Breed" >
    update breed
    set petBreedName = #{petbreedname,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, petBreedName, category_id
    from breed
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, petBreedName, category_id
    from breed
  </select>
  <!--根据categoryid查breed-->
  <select id="selectBreedByCategoryId" resultMap="BaseResultMap" >
    select id, petBreedName, category_id
    from breed where category_id=#{categoryId}
  </select>

  <sql id="where_sql">
  </sql>

  <select id="queryPageCount" resultType="long">
    select count(*) from breed
    <include refid="where_sql"></include>
  </select>

  <!-- 查询结果集 -->
  <select id="queryPageResult" resultMap="BaseResultMap">
    select * from breed
    <include refid="where_sql"/>
    limit #{start},#{rows}
  </select>
</mapper>