<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="petCategoryName" property="petcategoryname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Category" useGeneratedKeys="true" keyProperty="id" >
    insert into category (petCategoryName)
    values (#{petcategoryname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Category" >
    update category
    set petCategoryName = #{petcategoryname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, petCategoryName
    from category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, petCategoryName
    from category
  </select>
  <sql id="where_sql">
  </sql>

  <select id="queryPageCount" resultType="long">
    select count(*) from category
    <include refid="where_sql"></include>
  </select>

  <!-- 查询结果集 -->
  <select id="queryPageResult" resultMap="BaseResultMap">
    select * from category
    <include refid="where_sql"/>
    limit #{start},#{rows}
  </select>
</mapper>