<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="inductionTime" property="inductionTime" jdbcType="DATE" />
    <result column="departureTime" property="departureTime" jdbcType="DATE" />
    <result column="basicSalary" property="basicSalary" jdbcType="DECIMAL" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />


    <association property="positionName" javaType="com._520it.crm.domain.PositionName" columnPrefix="po_" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="positionName" property="positionname" jdbcType="VARCHAR" />
      <result column="postallowance" property="postallowance" jdbcType="DECIMAL" />
      <result column="trafficsubsidies" property="trafficsubsidies" jdbcType="DECIMAL" />
      <result column="phonesubsidies" property="phonesubsidies" jdbcType="DECIMAL" />
      <result column="subsidizedmeals" property="subsidizedmeals" jdbcType="DECIMAL" />
      <result column="fullTime" property="fulltime" jdbcType="DECIMAL" />
      <result column="commission" property="commission" jdbcType="DECIMAL" />
    </association>

    <association property="leaver" javaType="com._520it.crm.domain.Leaver" columnPrefix="l_">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="leaveDuration" property="leaveDuration" jdbcType="INTEGER" />
      <result column="state" property="state" jdbcType="BIT" />
    </association>

  </resultMap>
  <resultMap id="AllResultMap" type="com._520it.crm.domain.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />

    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
    <result column="inductionTime" property="inductionTime" jdbcType="DATE" />
    <result column="departureTime" property="departureTime" jdbcType="DATE" />
    <result column="basicSalary" property="basicSalary" jdbcType="DECIMAL" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIT" />



  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.Employee" useGeneratedKeys="true" keyProperty="id" >
    insert into employee (sn, username,
      positionName_id, sex, phone, 
      inductionTime, departureTime, basicSalary, 
      idcard, state, admin)
    values (#{sn,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
      #{positionName.id,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{phone,jdbcType=BIGINT},
      #{inductionTime,jdbcType=DATE}, #{departureTime,jdbcType=DATE}, #{basicSalary,jdbcType=DECIMAL},
      #{idcard,jdbcType=VARCHAR}, #{state,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.Employee" >
    update employee
    set sn = #{sn,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},

      positionName_id = #{positionName.id,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      phone = #{phone,jdbcType=BIGINT},
      basicSalary = #{basicSalary,jdbcType=DECIMAL},
      idcard = #{idcard,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, sn, username, positionName_id, sex, phone, inductionTime, departureTime,
    basicSalary, idcard, state, admin
    from employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, sn, username, positionName_id, sex, phone, inductionTime, departureTime,
    basicSalary, idcard, state
    from employee
  </select>

  <sql id="where_sql">
    <where>
      <if test="sn!=null and sn!=''">
        and
        e.sn like concat('%',#{sn},'%')
      </if>
      <if test="username!=null and username!=''">
        and e.username like concat('%',#{username},'%')
      </if>
      <if test="currentDate !=null">
        and DATE_FORMAT(e.inductionTime,'%Y%m') = DATE_FORMAT(#{currentDate},'%Y%m')

      </if>

      <if test="id!=null">
        and e.id = #{id}
      </if>
    </where>
  </sql>

  <select id="queryPageCount" resultType="long">
    select count(e.id) from employee e
    <include refid="where_sql"></include>
  </select>

  <!-- 查询结果集 -->
  <select id="queryPageResult" resultMap="BaseResultMap">
    select e.*,po.id as po_id,po.positionName as po_positionName from employee e left join positionName po on (e.positionName_id = po.id)
    <include refid="where_sql"/>
    limit #{start},#{rows}
  </select>

  <update id="changeState">
    update employee set state = 0 ,departureTime = #{departureTime} where id = #{id}
  </update>








  <select id="querySalaryPageCount" resultType="long">
    select count(e.id) from employee e   LEFT JOIN  positionname po ON  e.positionName_id = po.id
    LEFT JOIN leaver l ON  l.employee_id = e.id

    <include refid="where_sql"/>
  </select>
  <select id="querySalaryPageResult" resultMap="BaseResultMap">
    SELECT e.*, l.id l_id ,l.leaveDuration l_leaveDuration ,l.state l_state,
    po.id  po_id ,po.commission po_commission ,po.fullTime po_fullTime ,po.postallowance po_postallowance,
    po.phonesubsidies po_phonesubsidies ,po.trafficsubsidies po_trafficsubsidies ,po.subsidizedmeals po_subsidizedmeals
    FROM employee e LEFT JOIN positionname po  ON  e.positionName_id = po.id
    LEFT JOIN leaver l ON  l.employee_id = e.id
    <include refid="where_sql"/>
    limit #{start},#{rows}
  </select>



















</mapper>