<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.StockIncomeBillItemMapper">
    <resultMap id="BaseResultMap" type="com._520it.crm.domain.StockIncomeBillItem">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="inputTime" property="inputtime" jdbcType="DATE"/>
        <result column="costPrice" property="costPrice" jdbcType="DECIMAL"/>
        <result column="salePrice" property="saleprice" jdbcType="DECIMAL"/>
        <result column="memberPrice" property="memberprice" jdbcType="DECIMAL"/>
        <result column="count" property="count"/>
        <result column="totalAmout" property="totalamout" jdbcType="INTEGER"/>
        <result column="warningDate" property="warningdate" jdbcType="DATE"/>
        <result column="warrantyDate" property="warrantydate" jdbcType="DATE"/>
        <result column="productName" property="productName"/>
        <result column="productCategory" property="productCategory"/>
        <result column="productSpecification" property="productSpecification"/>
        <result column="productBrand" property="productBrand"/>
        <result column="operator" property="operator"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stockincomebillitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com._520it.crm.domain.StockIncomeBillItem" useGeneratedKeys="true" keyProperty="id">
    insert into stockincomebillitem ( inputTime, costPrice,
      salePrice, memberPrice, count,
      totalAmout, warningDate, warrantyDate,
     productName,productCategory,productSpecification,productBrand,operator)
    values (#{inputtime,jdbcType=DATE}, #{costPrice,jdbcType=DECIMAL},
      #{saleprice,jdbcType=DECIMAL}, #{memberprice,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER},
      #{totalamout,jdbcType=INTEGER}, #{warningdate,jdbcType=DATE}, #{warrantydate,jdbcType=DATE},
      #{productName},
      #{productCategory},#{productSpecification},#{productBrand},#{operator})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.StockIncomeBillItem">
    update stockincomebillitem
    set product_id = #{productId,jdbcType=BIGINT},
      inputTime = #{inputtime,jdbcType=DATE},
      costPrice = #{costPrice,jdbcType=DECIMAL},
      salePrice = #{saleprice,jdbcType=DECIMAL},
      memberPrice = #{memberprice,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      totalAmout = #{totalamout,jdbcType=INTEGER},
      warningDate = #{warningdate,jdbcType=DATE},
      warrantyDate = #{warrantydate,jdbcType=DATE},
      operator= #{operator},
      productBrand = #{productBrand}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select *
    from stockincomebillitem
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select *
    from stockincomebillitem
  </select>

    <!-- 查询总结果数 -->
    <select id="queryPageCount" resultType="long">
        select count(*) from StockIncomeBillItem
        <include refid="where_sql"/>
    </select>
    <!-- 查询结果集 -->
    <select id="queryPageResult" resultMap="BaseResultMap">
        select *
        from StockIncomeBillItem
        <include refid="where_sql"/>
        limit #{start},#{rows}
    </select>
    <sql id="where_sql">
        <where>
            <if test="endDate!=null and endDate!=''">
                inputTime &lt;= #{endDate}
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and inputTime &gt;= #{beginDate}
            </if>
            <if test="keyword!=null and keyword!=''">
                and productName like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
    <!--删除所有订单-->
    <delete id="deleteAllOrderBill">
        DELETE FROM orderBill
    </delete>
</mapper>